<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h2> Quick Links</h2>
                <ul class="list-group">
                    <li class="list-group-item"><a href="#">Partners</a></li>
                    <li class="list-group-item"><a href="#">Gallery</a></li>
                    <li class="list-group-item"><a href="#">Job Opportunites</a></li>
                    <li class="list-group-item"><a href="#">Alumni</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4" >
                <h2> Contact us </h2>
                <!-- <p>
                    Mbale city, Industrial Division. <br>
                    Green Pasture village, Musoto<br>
                    +256-772-986-753, +256-782-049-952
                </p> -->
                <ul class="list-group" style="color: rgba(255,255, 0, 1)">
                    <li class="list-group-item">Mbale city, Industrial Division.</li>
                    <li class="list-group-item">Green Pasture village, Musoto</li>
                    <li class="list-group-item">+256-772-986-753, +256-782-049-952</li>
                   
                </ul>
            </div>
            <div class="col-sm-12 col-md-4">
                <h2> Social Media </h2>
                <ul class="list-group">
                    <li class="list-group-item"><a href="#">Facebook</a></li>
                    <li class="list-group-item"><a href="#">twitter</a></li>
                    <li class="list-group-item"><a href="#">Instagram</a></li>
                    <li class="list-group-item"><a href="#">YouTube</a></li>
                </ul>
            </div>
        </div>
        <hr style="color:rgba(255,255, 0, 1)">
        © 2020 Green Pasture College. All Rights Reserved.
    </div>
</footer>
