footer{
    background-color: rgba(0, 102, 0, 1) !important;
    color:#fff;
}
.list-group {
    border-radius: 0rem; 
}
.list-group-item {
    background-color: rgba(0, 102, 0, 1) !important;
    border: none;
}
footer a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
footer a:visited {
    color: rgba(255,255, 0, 1);
    text-decoration: none;
}

footer a:hover {
    color: rgba(255,255, 0, 1);
    text-decoration: underline;
}

footer a:active {
    color: rgba(255,255, 0, 1);
    text-decoration: underline;
}


footer .list-group-item {    
    padding: .1rem 1.25rem;
}

