<section class="container-fluid">
    <div class="row  titles-color">
        <div class="col-sm-12 col-md-12">
            <h1> Green Pasture College Accommodation</h1>
           
        </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
        <div class="col-12">
            <p>
                Accommodation plays a huge role in building a solid foundation for academic success and
                 it is a priority of Green Pasture College to offer several safe, 
                 secure and affordable accommodation to all students
            </p>
            <!-- <p>
                Green Pasture Collegeis therefore in partnership with hostels within the vicinity of the university. 
                The room prices range from 1.2m – 1.5m per semester (4 months). 
                The rooms are self-contained and many have shared kitchen and social areas.
            </p> -->
            <p>
                Student accommodation is more affordable in Green Pasture College. 
                Besides the  college hostle students can hire rooms in Green Pasture Cell 
                at an average cost of 160,000/= per semister. it takes many students simply a walk of 
                less than 4 minutes to their lectures
            </p>
            

        </div>
    </div>

    <p></p>

  </section>
  