<section class="container-fluid">
    <div class="row  titles-color">
        <div class="col-sm-12 col-md-12">
            <h1> Green Pasture College Admission Requirements</h1>
           
        </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
        <div class="col-12">
            <p>
                Admissions to Green Pasture College shall be open to all qualified national and international persons without
                 discrimination. A student is admitted into an academic program when he/she meets the entry 
                 requirements into that program and level. Admissions into Green Pasture College is conducted under the 
                 guidance of 
                the National Council for Higher Education and with the approval of the Senate
            </p>
            <p>
                Click the tabs below to navigate through all the requirements.
            </p>

        </div>
    </div>
    <!-- the payments details -->
    <div class="row">
         <!-- the various payments details -->
        <div class="col-sm-12 col-md-12 col-lg-12">

            <div class="accordion" id="accordionExample">
                <div class="card card-edit">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        General Requirements
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <ol start="1">
                            <li>
                                An applicant will be admitted upon fulfilling the following basic requirements
                                <ul >
                                    <li>Academic achievement</li>
                                    <li>Good character</li>
                                    <li>Financial support</li>
                                </ul>
                            </li>  
                            <li>The  College reserves the final decision on matters of admission, retention,
                                 and withdrawal.</li>
                            <li>A candidate admitted to a degree programme, diploma or certificate in any School shall comply 
                                with conditions and meet the guidelines set in the  College’s admission policy. 
                                The admissions committee has the right to admit or refuse admission of any applicant.
                            </li>
                            <li>
                                Registered students in another higher education institution in the Republic of Uganda or any recognized institution of learning who desire to be 
                                admitted to the  College should apply for credit transfer through the academic registrar’s office
                            </li>
                        </ol> 
                    </div>
                  </div>
                </div>
                <div class="card card-edit">
                  <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                         Diploma Programme
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <b>The minimum entry requirements for admission to an  diploma programme are:</b>
                        <ol start="1">
                            <li>                               
                                A candidate must have obtained:
                                <ul>
                                    <li>At least five (5) passes at the Uganda Certificate of Education or its equivalent at the same sitting;
                                    </li>
                                    <li>At least one (1) principal pass and two (2) subsidiary passes obtained at the same sitting or its equivalent.</li>
                                </ul>
                            </li>  
                        </ol>
                    </div>
                  </div>
                </div>
                <div class="card card-edit">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Certificate
                      </button>
                    </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <b>The minimum entry requirements for admission to a Ceritificate programme are:</b>
                        <ol start="1">
                            <li>                               
                                A candidate must have obtained:
                                <ul >
                                    <li>At least five (3) passes at  O' Level or its equivalent at the same sitting;
                                    </li>
                                </ul>
                            </li>  
                        </ol>
                    </div>
                  </div>
                </div>
              </div>
                             
        </div>   
        <!-- <div class="col-sm-12 col-md-4 col-lg-8">
  
        </div>   -->
    </div>
    <p></p>

  </section>
  