<section class="container-fluid">
    <div class="row  titles-color">
        <div class="col-sm-12 col-md-12">
            <h1 > Green Pasture College Fees and Tuition Payments</h1>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-12">
            <p>
                Tuition and fees are established by the College Council and are subject to change without 
                notice. Tuition and fees are charged per semester. A student’s admission letter 
                will show all tuition and fee charges, payments and deferments associated with each 
                semester. All College tuition and fees must be paid by the published deadline dates. 
                Tuition and fees not paid or deferred by the payment deadline for each semester will result 
                in late fees and may result in the cancellation of all classes.
            </p>
        </div>
    </div>
    <!-- the payments details -->
    <div class="row">
         <!-- the various payments details -->
        <div class="col-sm-12 col-md-12 col-lg-8">
            <!-- <ul class="list-group" style="color: rgba(255,255, 0, 1)">
                <li class="list-group-item"><a [routerLink]="['']"> Application Fees</a> </li>
                <li class="list-group-item"><a [routerLink]="['']"> Fees Structure for East African Community Students</a> </li>
                <li class="list-group-item"><a [routerLink]="['']"> Fees Structure for International Students</a> </li>
                         
            </ul>   -->
            <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Application Fees
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <ol>
                            <li>
                                Certificate and Postgraduate Diploma and Programmes Non-refundable application 
                                fee of fee of UGX 50,000/= for East Africa Community applicants and USD 30 for
                                 International applicants should be paid to Ugandan technology 
                                 and Management University (UTAMU) in the UTAMU bank accounts shown below
                            </li>  
                        </ol> 
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Fees Structure for East African Community Student
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Fees Structure for International Students
                      </button>
                    </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
                             
        </div>   
        <!-- <div class="col-sm-12 col-md-4 col-lg-8">

        </div>   -->
    </div>
    <div class="row">
        <div class="col-12">
           <p>
            All students are expected to pay the National Council for Higher Education (NCHE) fee of Uganda Shillings 20,000/= and Guild fee of Uganda Shillings 20,000/= once per 
            year in addition to tuition.
           </p> 

           <h3>Payment Procedures for Undergraduate, Postgraduate Diploma </h3>
           <ul value="1">
               <li>
                The College fees payment policy allows students to make fees payments in five installments as shown below: 
                Payment of all functional fees should be done on the 1st day of every semester
                   <ul value="a">
                       <li>30% fees by 5th week of the semester</li>
                        <li>60% fees by the 8th week of the semester</li>
                        <li>80% fees by the 10 week of the semester</li>
                        <li>100% fees by the 12th week of the semester</li>
                   </ul>
               </li>
               <li>We don’t accept cash payment at the College. No College staff is allowed to receive fees from students. 
                   You can pay your all your fees through the following modes:</li>
           </ul>

           <h3>Direct deposit (over the counter) or Electronic Transfer to any of our Banks</h3>
           <p>Applicants will be required to pay a none-refundable application fee of Uganda Shillings 50,000/- 
               to any of the following College accounts;</p>
               <!-- table fo college bank account -->


            <p>Completed application form should be delivered with proof of application fees payment to the below address or 
                by email to greenpasturecollege.ac.ug.</p>  

            <h3></h3>  
            <p>Late Registration Fees are charged to students who enroll following the close of the regular registration period for the semester, who re-register, or who enroll for the first time during Late Registration period. 
                The Late Registration Fee is $50.00 per semester minimum.</p>
        </div>  
    </div>
</section>
