<section class="container-fluid">
  <div class="row  titles-color">
      <div class="col-sm-12 col-md-12">
          <h1 > Green Pasture College Fees and Tuition Payments</h1>
         
      </div>
  </div>
</section>
<section class="container">
  <div class="row">
      <div class="col-12">
          <p>
              Tuition and fees are established by the College Council and are subject to change without 
              notice. Tuition and fees are charged per semester. A student’s admission letter 
              will show all tuition and fee charges, payments and deferments associated with each 
              semester. All College tuition and fees must be paid by the set deadline. 
              
          </p>
      </div>
  </div>
  <!-- the payments details -->
  <div class="row">
       <!-- the various payments details -->
      <div class="col-sm-12 col-md-12 col-lg-12">
          <!-- <ul class="list-group" style="color: rgba(255,255, 0, 1)">
              <li class="list-group-item"><a [routerLink]="['']"> Application Fees</a> </li>
              <li class="list-group-item"><a [routerLink]="['']"> Fees Structure for East African Community Students</a> </li>
              <li class="list-group-item"><a [routerLink]="['']"> Fees Structure for International Students</a> </li>
                       
          </ul>   -->
          <div class="accordion" id="accordionExample">
              <div class="card card-edit">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" id="application" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Application Fees
                    </button>
                  </h2>
                </div>
            
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                   The following non refundable fees are paid on subbmission of the application forms:
                      <ol start="1">
                          <li>Certificate: 30,000/= </li> 
                          <li>Diploma: 30,000/=</li> 
                          <li>Short Course: 30,000/=</li>
                      </ol> 
                      <p style="margin-top:0px;">Completed application form should be delivered with proof of application fees payment to the Main Campus or 
                        by email to 
                      </p> 
                  </div>
                </div>
              </div>
              <div class="card card-edit">
                <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Fees Structure for Diploma Students
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                      <table class="table table-striped text-left">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">Category of Programme</th>
                              <th scope="col">Tuition Fees<br> Per Semester <br> (USh)</th>
                              <th scope="col">Duration</th>
                             </tr>
                          </thead>
                          <tbody>
                            <tr>                              
                              <td>Business Administration & Management   </td>
                              <td>395,000</td>
                              <td>2 Years </td>
                            </tr>
                            <tr>                              
                              <td>Public Administration   </td>
                              <td>395,000</td>
                              <td>2 Years </td>
                            </tr>
                            <tr>                              
                              <td>ICT	   </td>
                              <td>395,000</td>
                              <td>2 Years </td>
                            </tr>
                            <tr>                              
                              <td>Bible and Christian Theology   </td>
                              <td>395,000</td>
                              <td>2 Years </td>
                            </tr>
                            <tr>                              
                              <td>Project Planning & Management   </td>
                              <td>395,000</td>
                              <td>2 Years </td>
                            </tr>
                            <tr>                              
                              <td>Development Studies    </td>
                              <td>395,000</td>
                              <td>2 Years </td>
                            </tr>
                            <tr>                              
                              <td>National diploma in Accountancy </td>
                              <td>395,000</td>
                              <td>2 Years </td>
                            </tr>
                            
                          </tbody>
                        </table>    
                  </div>
                </div>
              </div>
              <div class="card card-edit">
                <div class="card-header" id="headingThree">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Fees Structure for Certificate Students
                    </button>
                  </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    <table class="table table-striped">
                      <thead class="thead-dark text-left">
                        <tr>
                          <th scope="col">Category of Programme</th>
                          <th scope="col">Tuition Fees<br> Per Semester <br> (USh)</th>
                          <th scope="col">Duration</th>
                         </tr>
                      </thead>
                      <tbody>
                        <tr>                              
                          <td>Business Administration & Management   </td>
                          <td>295,000</td>
                          <td>2 Years </td>
                        </tr>
                        <tr>                              
                          <td>Public Administration   </td>
                          <td>295,000</td>
                          <td>2 Years </td>
                        </tr>
                        <tr>                              
                          <td>ICT	   </td>
                          <td>295,000</td>
                          <td>2 Years </td>
                        </tr>
                        <tr>                              
                          <td>Theology   </td>
                          <td>295,000</td>
                          <td>2 Years </td>
                        </tr>
                        <tr>                              
                          <td>Project Planning & Management   </td>
                          <td>295,000</td>
                          <td>2 Years </td>
                        </tr>
                        <tr>                              
                          <td>Marketing    </td>
                          <td>295,000</td>
                          <td>2 Years </td>
                        </tr>                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="card card-edit">
                <div class="card-header" id="headingFour">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Fees Structure for Short Courses (Weekend Only)
                     </button>
                  </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="card-body">
                    <table class="table table-striped">
                      <thead class="thead-dark text-left">
                        <tr>
                          <th scope="col">Category of Programme</th>
                          <th scope="col">Tuition Fees<br> Per Semester <br> (USh)</th>
                          <th scope="col">Duration</th>
                         </tr>
                      </thead>
                      <tbody>
                        <tr>                              
                          <td>Data analaysis(SPSS, Excel, EPINFO)   </td>
                          <td>250,000</td>
                          <td>8 weekends </td>
                        </tr>
                        <tr>                              
                          <td>Web Design   </td>
                          <td>150,000</td>
                          <td>8 weekends </td>
                        </tr>
                        <tr>                              
                          <td>Graphics Design   </td>
                          <td>150,000</td>
                          <td>8 weekends </td>
                        </tr>
                        <tr>                              
                          <td>Computer Applications   </td>
                          <td>150,000</td>
                          <td>8 weekends </td>
                        </tr>
                        <tr>                              
                          <td> Monitoring & Evaluatio   </td>
                          <td>250,000</td>
                          <td>8 weekends </td>
                        </tr>

                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
                           
      </div>   
      <!-- <div class="col-sm-12 col-md-4 col-lg-8">

      </div>   -->
  </div>
  <div class="row">
      <div class="col-12">
         <p>
          All students are expected to pay the National Council for Higher Education (NCHE) fee of Uganda Shillings 20,000/= and Guild fee of Uganda Shillings 20,000/= once per 
          year in addition to tuition.
         </p> 

         <h3>Payment Procedures for Certificate and Diploma </h3>
         <ul value="1">
             <li>
              The College fees payment policy allows students to make fees payments in five installments as shown below: 
              Payment of all functional fees should be done on the 1st day of every semester
                 <ul value="a">
                     <li>40% fees by 3rd week of the semester</li>
                      <li>30% fees by the 8th week of the semester</li>
                      <li>100% fees by the 12 week of the semester</li>
                  </ul>
             </li> 
             <li>We don’t accept cash payment at the College. No College staff is allowed to receive fees from students. 
                 You can pay your all your fees through the following modes:</li>
         </ul>

         <h3>Direct deposit (over the counter) or Electronic Transfer to any of our Banks</h3>
                      <!-- table fo college bank account -->
                      <div class="card-body">
                        <table class="table table-striped">
                          <thead class="thead-dark text-left">
                            <tr>
                              <th scope="col">Category of Programme</th>
                              <th scope="col">Tuition Fees<br> Per Semester <br> (USh)</th>
                              <th scope="col">Duration</th>
                             </tr>
                          </thead>
                          <tbody>
                            <tr>                              
                              <td>Data analaysis(SPSS, Excel, EPINFO)   </td>
                              <td>250,000</td>
                              <td>8 weekends </td>
                            </tr>
                            <tr>                              
                              <td>Web Design   </td>
                              <td>150,000</td>
                              <td>8 weekends </td>
                            </tr>
                            <tr>                              
                              <td>Graphics Design   </td>
                              <td>150,000</td>
                              <td>8 weekends </td>
                            </tr>
                            <tr>                              
                              <td>Computer Applications   </td>
                              <td>150,000</td>
                              <td>8 weekends </td>
                            </tr>
                            <tr>                              
                              <td> Monitoring & Evaluatio   </td>
                              <td>250,000</td>
                              <td>8 weekends </td>
                            </tr>
    
                            
                          </tbody>
                        </table>
                      </div>  

 

          
          <p> 
            <b style="color: #ff1d1f;">Late Fees </b><br> The Late Registration Fees are charged to students who enroll following the close of the regular registration period for the semester. The Late Registration Fee is 30,000/= per semester </p>
              
      </div>  
  </div>
</section>
