<section class="container-fluid">
    <div class="row  titles-color">
        <div class="col-sm-12 col-md-12">
            <h1> Green Pasture College Application Guidelines</h1>
           
        </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
        <div class="col-12">
            <p>
                Green Pasture College is receiving applications for Short courses, Undergraduate diploma, Postgraduate Diploma and Masters programmes for its three intakes, January, May and August.
            </p>
            <p>
                Below are the application guidelines:
            </p>

        </div>
    </div>
    <!-- the payments details -->
    <div class="row">
         <!-- the various payments details -->
        <div class="col-sm-12 col-md-12 col-lg-12">

            <div class="accordion" id="accordionExample">
                <div class="card card-edit">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Visit Green Pasture College Main Campus
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>                           
                            <li>Located Mbale city, Industrial Division, Green Pasture village, Musoto with all your academic documents</li>
                            <li>Pick an application form of your choice</li>
                            <li>Fill it up and attach the required application documents</li>
                            <li>Pay the application fee</li>
                            <li>Submit the application form to the registrar of the respective School</li>
                        </ul> 
                        <h3> Map</h3>
                    </div>
                  </div>
                </div>
                <div class="card card-edit">
                  <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                         Apply Now
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <a class="btn btn-secondary" href="#" role="button">Download Application Forms</a> &nbsp;
                        <a class="btn btn-secondary" href="#"  role="button">Apply online</a>
                    </div>
                  </div>
                </div>
                <div class="card card-edit">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Fees Payment
                      </button>
                    </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <!-- rs on refering to another id in a diferent component -->
                        <a class="btn btn-secondary" [routerLink]="['/payment']" id="" role="button">Fees Payments</a>                        
                    </div>
                  </div>
                </div>
              </div>
                             
        </div>   
 
    </div>
    <p></p>

  </section>
  