styles.css 
/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css"; */
/* @font-face{
    font-family:"Lemonada";
     src: url("myFont.woff");
} */

html, body{
    margin: auto;
    font-family: 'Roboto',sans-serif;
    min-width: 300px;     
    font-family: Lemonada, sans-serif;
    font-size: 13px; 
    font-weight: 200;
    line-height: 15px;  
    text-align: justify;  
    overflow-x: auto;  
}

.containerBackgroundColor{
   background-color:rgb(246,246,246);
  
}

.containerMargins{
    padding-top: 14px;
    padding-bottom: 9px;
}



/************************TEXT***/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lemonada', cursive, sans-serif; 
    font-size: 0.9rem;
    /* font-size: 1.5rem; */
}
p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

hr {
    margin-top: 0rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.2);
}

/************heading of h1 admission,library, student life ***/
.titles-color{
    background-color:rgb(244,244,1);
    height: 40px;
}
.titles-color h1{
    padding: 5px 0px 5px;
    line-height: 1.2rem;
}

.img-fit{
    object-fit: contain;
}


/******Forms elements*********/
button,input,textarea,select{
    font-family:inherit;
    font-size: inherit;
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

textarea{
    overflow: auto;
}

.card-edit{
    background-color: rgb(11,102,7);
    border: 1px solid rgb(244,244,1);
    width: 280px;
    overflow-x: auto !Important;
}
.card-body {
   background-color: rgb(255,255 ,255);
} 

/*************button links******/
.btn-link {
    font-weight: 400;
    color: rgb(244,244, 1);
    text-decoration: none;
}
.btn-link:hover {
    color:rgba(255, 255, 255, .7);
    text-decoration: underline;
}

table{
    background-color:rgba(2444,244, 1, 0.9);
}


@media(max-width: 575.98px){
    /* body{
        font-size: 0.3rem;
        font-weight: 400;
        line-height: 30px;    
        overflow-x: auto;
    }
     */
  
}


@media (min-width: 576px)and (max-width:767.98px){
    h1, h2, h3, h4, h5, h6{
        font-size:0.7rem;
    } 
      /**************cards edit****/
      .card-edit{
        border: none;
        border-radius: 0rem !Important;
        width: 500px;
        overflow-x: auto !Important;
    }
   
}

@media (min-width: 768px) and (max-width: 991.98px){

    html, body{
        font-size: 16px;
        font-weight: 200;
        line-height: 18px;  
    }
    .containerMargins{
        padding-top: 20px;
        padding-bottom: 10px;
    }


    /************************TEXT***/
    h1, h2, h3, h4, h5, h6 {
         font-size: 1rem;
         margin-bottom: 1.5rem;
    }
     
    
    /************heading of h1 admission,library, student life ***/
    .titles-color{
        height: 100px;
    }
    .titles-color h1{
        padding: 30px 0px 30px;
        line-height: 1.5rem;
    }

    /**************cards edit****/
    .card-edit{
        border: none;
        border-radius: 0rem !Important;
        width: 650px;
        overflow-x: auto !Important;
    }
        
}


@media(min-width: 992px) and (max-width:1199.98px){
    html, body{
        font-size: 17px;
        font-weight: 400;
        line-height: 17px;  
    }
    
    .containerMargins{
        padding-top: 40px;
        padding-bottom: 15px;
    }
       /************************TEXT***/
    h1, h2,h3 {
        font-size: 1.5rem;
    }

    /************heading of h1 admission,library, student life ***/
    .titles-color{
        height: 100px;
    }
    .titles-color h1{
        padding: 30px 0px 30px;
        line-height: 1.5rem;
    }

        /**************cards edit****/
        .card-edit{
            border: none;
            border-radius: 0rem !Important;
            width: 900px;
            overflow-x: auto !Important;
        }



}

@media (min-width: 1200px){
    html, body{
        font-size: 17px;
        font-weight: 300;
        line-height: 19px;  
    }
    .containerMargins{
        padding-top: 50px;
        padding-bottom: 20px;
    }
    /************************TEXT***/
    h1, h2 {
        font-size: 1.5rem;
    }

    /************heading of h1 admission,library, student life ***/
    .titles-color{
        height: 100px;
    }
    .titles-color h1{
        padding: 30px 0px 30px;
        line-height: 1.5rem;
    }

        /**************cards edit****/
        .card-edit{
            border: none;
            border-radius: 0rem !Important;
            width: 960px;
            overflow-x: auto !Important;
        }

  

}