<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/index/library.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
      <div class="caraousel-item">
        <img src="../../assets/index/library.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


    <div class="container-fluid containerMargins containerBackgroundColor">
      <div class="row">
          <div class=" col-sm-12 col-md-6 col-lg-4">
            <h2><b>Our Programmes</b></h2>
            <hr>
            <p> Green Pasture College has opportunities for every individual interested in pursuing 
             college education at Certificate and Diploma. Students can enrol for 
             programmes  as below
             <ol>
               <li><b>Regular program:</b> with intakes in  February & August</li>
               <li><b>In-Servie/Modular program:</b> with intakes January, April & August </li>
             </ol>
             <ul>
               <li><a href="#" class="apply-options" target="_blank">Diploma Programmes</a></li>
               <li><a href="#" class="apply-options" target="_blank">Certificate Programmes</a></li>
               <li><a href="#" class="apply-options" target="_blank">Apply Online</a></li>
               <li><a href="#" class="apply-options" target="_blank">Download Application forms</a></li>
              </ul>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4">            
            <div class="img-size-edits">
              <img src="../../assets/index/videoss.jpg" class="img-contain">
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4">
            <h2><b>Request Free Information</b> </h2>
              <form class="row g-3">
              <fieldset>
                <legend>For our Courses and Admission</legend>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="programmeType"  id="diploma" >
                  <label class="form-check-label" for="diploma">
                    Diploma
                  </label>
                 </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="programmeType"  id="certificate" >
                  <label class="form-check-label" for="certificate">
                    Certificate
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="programmeType" id="shortCourses" >
                  <label class="form-check-label" for="ShortCourses">
                    Short Courses
                  </label>
                </div> <br>
                <div class="form-group">
                  <select class="custom-select custom-select-sm">
                    <option selected>Select</option>
                    <option value="1">Diploma in ICT</option>
                    <option value="2">Certificate in ICT</option>
                    <option value="3">ShortCourse</option>
                  </select>
                </div>
        
                <div class="form-group">
                  <!-- <label for="formGroupExampleInput">Example label</label> -->
                  <input type="text" class="form-control" id="frmName" name="names" placeholder="Your names">
                </div>
                <div class="form-group">
                  <!-- <label for="formGroupExampleInput2">Another label</label> -->
                  <input type="text" class="form-control" id="frmEmail" name="email" placeholder="Email">
                </div> 
                <div class="form-group">
                  <!-- <label for="formGroupExampleInput2">Another label</label> -->
                  <input type="text" class="form-control" id="frmPhone" name="phone" placeholder="Telephone">
                </div>                 
  
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-3">Submit</button> &nbsp;
                  <button type="reset" class="btn btn-primary mb-3">Reset</button>
                </div>
                <div class="col-auto">
                  
                </div>
              </fieldset>

            </form>
           
          </div>
      </div> 
  </div>

 <!-- college principle and the welcome message -->
<div class="container containerMargins">
      
       <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 ">
          <!-- Principle and the welcome message-->
          <div class="img-size-edits">
              <img src="../../assets/index/videoss.jpg" class="img-contain">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <small>Enroll Today</small>
          <h2>Lets Talk Studying at GPC </h2>
          <hr>
          Green Pasture College combines management and technology in all its programmes and has highly qualified and experienced
           faculty in these two broad disciplines. The aim of offering management and technology modules in all our 
           programmes is to equip all our graduates with skills required for 21st century workers namely; 
           critical thinking and problem solving, communication, collaboration, and creativity and innovation.
           <a href="#" class="apply-options" >Learn More</a>
        </div>
    </div>
</div>



  <!-- upcoming events and call for applications -->
  <div class="container-fluid  containerMargins containerBackgroundColor">
        <div class="row">
          <div class="col-sm-3 col-md-4 col-lg-3">
            <h2>Upcoming Events</h2>
            <hr>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6">
              <!-- <div class="card mb-3" style="max-width: 540px;"> -->
              <div class="card mb-3" >
                <div class="row no-gutters update-color">
                  <div class="col-sm-12 col-md-2">
                    <div >
                      Sept
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="col-sm-12 card-body card-body-edit">
                      <h5 class="card-title"><a href="#" class="apply-options">Call for applications</a></h5>
                      <p class="card-text p-edit">
                        <small>This is a wider card with supporting text below as a natural lead-in to additional content. 
                               This content is a little bit longer.
                        </small> <br>
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </p>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6">
              <div class="card mb-3" >
                <div class="row no-gutters update-color">
                  <div class="col-sm-12 col-md-2">
                    <div >
                      Sept
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="col-sm-12 card-body card-body-edit">
                      <h5 class="card-title"><a href="#" class="apply-options">Call for applications</a></h5>
                      <p class="card-text p-edit">
                        <small>This is a wider card with supporting text below as a natural lead-in to additional content. 
                               This content is a little bit longer.
                        </small> <br>
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </p>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
        </div>
  </div>








